main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}
header {
  background-color: gold;
  color: black;
  padding-left: 60px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.rey .chew .finn .kylo .yoda .poe {
  background-color: white;
  color: black;
}
