* {
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

main {
    padding-top: 100px;
}

main .row {
    margin-bottom: 20px;
}

header {
    background-color: gold;
    color: black;
    padding-left: 60px;
}

.box {
    text-align: center;
    padding-top: 30px;
}

.pic {
    width: 100%;
}

.clabel {
    border: 1px solid purple;
    padding: 10px;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.rey,
.chew,
.finn,
.kylo,
.yoda,
.poe {
    background-color: white;
    color: black;
    margin-bottom: 30px;
}

h1 {
    padding: 0.67em 0;
    margin: 0;
}
