main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}
header {
  background-color: gold;
  color: black;
  padding-left: 60px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;

}

.pic{
  width: 100%;
}

.clabel{
  border: 1px solid purple;
  padding: 10px;
  background-color: white;
  margin-top:0;
  margin-bottom: 0;

}


.rey, .chew, .finn, .kylo, .yoda, .poe {
  background-color: white;
  color: black;
  margin-bottom: 30px;
}
